.Rproj.user
.Rhistory
.RData
.Ruserdata
*~
**/*.csv
**/*.log
**/*.blg
**/*.synctex.gz
**/*.aux
**/*.out
**/*.pdf
**/*.png
**/*.dvi
**/*.nav
**/*.snm
**/*.toc
**/*.Rmd
**/*.bcf
**/*.dvi
**/*.lof
**/*.lotx
**/*.bbl
**/*.pdf
expected_otu_PRJNA589343
Beta_data.csv
heatmap_contour4_png
*~
\#*
.#*
*.rds
!metadata.rds
!data.rds
*.err
*.out
*.sh
!rr.rds
!rrzi.rds
!us.rds
!uszi.rds
!nbmm.rds
!zinbmm.rds
!deseq.rds
!true_param.rds
!mean_count.rds
!deseq_noShrink.rds
!rrref.rds
!rrziref.rds
!usref.rds
!usziref.rds
!deseqref.rds
!desesq_noShrinkref.rds
!nbmmref.rds
!zinbmmref.rds
!nbmm_pval.rds
!zinbmm_pval.rds
*.Rout
