.Rproj.user
.Rhistory
.RData
.Ruserdata
*~
**/*.csv
**/*.log
**/*.blg
**/*.synctex.gz
**/*.aux
**/*.out
**/*.pdf
**/*.png
**/*.dvi
**/*.nav
**/*.snm
**/*.toc
**/*.Rmd
**/*.bcf
**/*.dvi
**/*.lof
**/*.lotx
**/*.bbl
**/*.pdf
expected_otu_PRJNA589343
Beta_data.csv
heatmap_contour4_png
*~
\#*
.#*
*.rds
!metadata.rds
!data.rds
